

                <div class="row">
                    <div class="col-md-12 text-center" style="position: absolute;top:50%; left: 50%;transform: translateX(-50%);">
                        <div class="text-center">
                            <a href="Usuario/Cadastrar" class="btn btn-danger btn-lg" style="margin-right:10px" >Cadastrar-se</a>
                            <a href="Usuario/Login"     class="btn btn-danger btn-lg">Iniciar Sessão</a>
                        </div>
                    </div>
                </div>

