body {
}


div.well {
    width:250px;
   
}

.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    

}

.Absolute-Center.is-Responsive {
    width: 80%;
    height: 45%;
    min-width: 200px;
    max-width: 750px;
    padding: 40px;
    background-image:url('../Content/img/login.jpg');
    background-size: cover;
    opacity: 1;
    filter: alpha(opacity=0);
    padding-left: 25%;
    padding-top: 10%;
}

.body_login
{ 
  background-image:url('../Content/img/login.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

footer {
  
    margin: auto;
    position: absolute;
    top: 90%;
    left: 0;
    bottom: 0;
    right: 0;
}

