*{
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    outline: none;
    --webkit-box-sizing: border-box;
        -noz-box-sizing: border-box;
            -box-sizing: border-box;
}

body{
    background: #f7f7f7;
    height: 100%;
}


/*
    login pages
*/

div.background{
    position: absolute;
    left: 0;
    width: calc(100% - 300px); /*calculo automatico - usado em browser mais novos*/
    background: url('../assets/images/background-login.jpg');
    background-size: cover;
    height: 100%;
    padding: 20px;
}
section#conteudo-view{
    float: righ;
    padding: 20px;
    width: 300px;
    height: 100%;
    right: 0;
    position: absolute;
    background: #00ADB5;
}
section#conteudo-view h1{
    float: left;
    width: 100%;
    font: 4em 'Fredoka One', cursive;
    margin-top: 50px;
    color: #FFF;
    padding: 0 10px;
}
section#conteudo-view h3,
section#conteudo-view form p{
    float: left;
    width: 100%;
    font: 1em 'Fredoka One', cursive;
    color: #FFF;
    padding: 0 10px;
}
section#conteudo-view form,
section#conteudo-view form label{
    float: left;
    width: 95%;
    margin-bottom: 10px;
}
section#conteudo-view form{
    margin-top: 40px;
}
section#conteudo-view form p{
    font-size: 1.25em;
}
section#conteudo-view form input[type="submit"],
section#conteudo-view form label input{
    float: left;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border-radius: 20px;
    border: 2px solid #04ecf4;
    color: #959595;
    font: 1em 'Arial';
}

section#conteudo-view form input[type="submit"]{
    width: 60%;
    float: right;
    background: #00ADB5;
    text-align: center;
    font: 1em 'Fedoka One', cursive;
    color: #fff;
}

/*
    menu lateral pages
*/

#principal{
    position: fixed;
    float: left;
    width: 220px;
    height: 100%;
    border-right: 1px solid #e9e9e9;
    box-shadow: 0 0 15px rgba(0, 0, 0, .15);
    background: #fff;
    z-index: 5;
}

#principal ul,
#principal ul li{
	float: left;
	width: 100%;
}
#principal ul li a{
	float: left;
	width: 100%;
	height: 80px;
	color: #9C9C9C;
	border-bottom: 1px solid #e9e9e9;
}
#principal ul li a i{
	float: left;
	height: 80px;
	width: 80px;
	color: inherit;
	text-align: center;
	line-height: 80px;
	font-size: 2em;
}
#principal ul li a h3{
	float: left;
	height: 80px;
	font: 1.25em/80px 'Fredoka One', cursive;
	color: inherit; /*herda a cor do elemento*/
}

#principal ul li a:hover{
    color: #00ADB5;
}


/* master.blade.php css */

#view-conteudo{
    position: fixed;
    float: left;
    width: 100%;
    height: 100%;
    padding: 20px 20px 20px 240px;
    z-index: 1;
}


/* user.blade.php css */

form.form-padrao{
	float: left;
	width: 100%;
}
form.form-padrao label{
	float: left;
	width: 37%;
	height: 60px;
	padding: 7px 10px;
	border: 1px solid #e9e9e9;
	background: #fff;
	border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 10px;
}
form.form-padrao label:nth-last-of-type(odd){
	margin-left: 2%;
}
form.form-padrao label span{
	float: left;
	width: 100%;
	font: 400 .75em 'Arial';
	color: #c7c7c7;
	padding-bottom: 5px;
}
form.form-padrao label input{
	float: left;
	width: 100%;
	color: #5c5c5c;
	font: 400 1.25em 'Arial';
	background: transparent;
}
form.form-padrao label.submit{
	background: #00ADB5;
    border-color: #04ecf4;
}
form.form-padrao label.submit input{
	font-weight: 800;
	text-transform: uppercase;
	line-height: 50px;
	color: #f9f9f9;
}


.default-table{
	float: left;
    width: 80%;
	background: #fff;
	border: 1px solid #e9e9e9;
	padding: 10px;
	font: 400 .9em 'Arial';
	color: #5c5c5c;
}
.default-table thead{
	text-transform: uppercase;
	font-size: .8em;
	font-weight: 800;
}
.default-table thead tr{
	height: 40px;
}
.default-table tbody tr{
	height: 20px;
}


/* dashboard with icon css */
.row{
    padding: 10px 30px 0px 10px;
}

.card-base{
    padding: 20px 0px 30px 0px;
    width: 98%;
}

.card-base > .card-icon {
    text-align: center;
    position: relative;

}
.imagecard {
z-index: 2;
display: block;
positioN: relative;
width: 88px;
border-radius: 50%;
border: 5px solid white;
box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
margin: 0 auto;
color: #fff;
}

.card-data a:hover{
    color: #fff;
}

.card-base > .card-icon > .card-data {
min-height: 50px !important;
margin-top: -24px;
background: #fff;
border: 1px solid #e0e0e0;
padding: 15px 0 10px 0;
box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#widgetCardIcon {
    background: #00ADB5 !important;
    font-size: 28px;
    line-height: 78px;
}
