<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Plu System</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/Content/main.js"></script>
    <link rel="stylesheet" href="~/Content/stylesheet.css">


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a href="#" class="navbar-brand"> Plu System Volunteer </a>
    </nav>
    <nav id="principal">
        <ul>
            <li>
                <a href="#">
                    <i class="fas fa-user"></i>
                    <h3>Perfil</h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-map-marker-alt"></i>
                    <h3>Grupo</h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-calendar-alt"></i>
                    <h3>Eventos</h3>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-trophy"></i>
                    <h3>Rank</h3>
                </a>
            </li>
        </ul>
    </nav>
    


    <div class="container">
        <div class="alert alert-danger text-center" id="error" role="alert"></div>
        <div class="row">

            @RenderBody()

        </div>
    </div>

    <footer>
        <hr />
        <p style="text-align:center">
            Desenvolvido por Plu System &copy;
            @DateTime.Now.Year
        </p>
    </footer>
</body>
</html>
